{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
	<meta name="author" content="webThemez.com">
	
	{% block title %}<title>Projects AVICT INVESTMENT </title>{% endblock title %}


	<link rel="favicon" href="assets/images/favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="assets/css/isotope.css" media="screen" />
	<link rel="stylesheet" href="assets/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="assets/css/style.css">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	{% block headeranimation %}
	<header id="head" class="secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h1>Our Projects</h1>
				</div>
			</div>
		</div>
	</header>
	{% endblock headeranimation %}

	<!-- container -->
	{% block content %}
	<section class="container">
		<div class="row">
			<div class="col-md-12">
				<section id="portfolio" class="page-section section appear clearfix">
					<br />
					<br />
					<p>
						At lorem Ipsum available, but the majority have suffered alteration in some form by injected huffered altehe majority have suffered alteration in some form by injected huffered alteration in some form by injected humour.uffered alteration in some form by injected h
					<br />
						<br />
					</p>


					<div class="row">
						<nav id="filter" class="col-md-12 text-center">
							<ul>
								<li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
								<li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">Web Design</a></li>
								<li><a href="#" class="btn-theme btn-small" data-filter=".photography">Photography</a></li>
								<li><a href="#" class="btn-theme btn-small" data-filter=".print">Print</a></li>
							</ul>
						</nav>
						<div class="col-md-12">
							<div class="row">
								<div class="portfolio-items isotopeWrapper clearfix" id="3">

									<article class="col-sm-4 isotopeItem webdesign">
										<div class="portfolio-item">
											<img src="{% static 'assets/images/portfolio/1.jpg' %}" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="{% static 'assets/images/portfolio/1.jpg' %}" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
									</article>

									<article class="col-sm-4 isotopeItem photography">
										<div class="portfolio-item">
											<img src="{% static 'assets/images/portfolio/2.jpg' %}" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="{% static 'assets/images/portfolio/2.jpg' %}" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
									</article>


									<article class="col-sm-4 isotopeItem photography">
										<div class="portfolio-item">
											<img src="{% static 'assets/images/portfolio/3.jpg' %}" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="{% static 'assets/images/portfolio/3.jpg' %}" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
									</article>

									<article class="col-sm-4 isotopeItem print">
										<div class="portfolio-item">
											<img src="{% static 'assets/images/portfolio/4.jpg' %}" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="{% static 'assets/images/portfolio/4.jpg' %}" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
									</article>

									<article class="col-sm-4 isotopeItem photography">
										<div class="portfolio-item">
											<img src="{% static 'assets/images/portfolio/5.jpg' %}" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="{% static 'assets/images/portfolio/5.jpg' %}" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
									</article>

									<article class="col-sm-4 isotopeItem webdesign">
										<div class="portfolio-item">
											<img src="{% static 'assets/images/portfolio/6.jpg' %}" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="{% static 'assets/images/portfolio/6.jpg' %}" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
									</article>

									<article class="col-sm-4 isotopeItem print">
										<div class="portfolio-item">
											<img src="{% static 'assets/images/portfolio/7.jpg' %}" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="{% static 'images/portfolio/7.jpg' %}" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
									</article>

									<article class="col-sm-4 isotopeItem photography">
										<div class="portfolio-item">
											<img src="{% static 'assets/images/portfolio/8.jpg' %}" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="{% static 'images/portfolio/8.jpg' %}" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
									</article> 
								</div>

							</div>


						</div>
					</div>

				</section>
			</div>
		</div>

	</section>
	{% endblock content %}
	
</body>
</html>
